@model AppIdentityUser

@{
    Layout = "_Layout2";
}
<link href="~/lib/fullcalendar/fullcalendar.css" rel="stylesheet" />
<link href="~/lib/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href='~/lib/fullcalendar/scheduler/scheduler.css' rel='stylesheet' />
<link href="~/lib/artDialog/css/ui-dialog.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<style>
    #calendar td.div {
        height: 30px !important;
    }

    .table td.brr {
        text-align: left !important;
    }

    .table td.brl {
        text-align: right !important;
    }

    .description-header {
        color: coral;
    }
</style>
<div style="background-color:white" id="calendar"></div>

<div id="create-form" style="display:none;">
    <form class="form-inline">
        <div class="col-md-6">
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">姓名</span>
                <input id="form-name" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">人数</span>
                <input id="form-count" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">单价</span>
                <input id="form-unitPrice" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">总价</span>
                <input id="form-totalPrice" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">应收</span>
                <input id="form-receivable" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">已收</span>
                <input id="form-received" type="text" readonly="readonly" class="form-control clear-data">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">渠道</span>
                <select id="form-channel" asp-items="ViewBag.ChannelType" class="form-control"></select>
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">手机</span>
                <input id="form-phone" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">管家</span>
                <input id="form-steward" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">前组</span>
                <input id="form-frontDeskLeader" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">管组</span>
                <input id="form-stewardLeader" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">关系</span>
                <input id="form-relationStaff" type="text" class="form-control clear-data">
            </div>
        </div>
        <div class="col-md-12">
            <textarea id="form-note" class="form-control clear-data" rows="4" style="margin-bottom:10px;width:100%"></textarea>
        </div>
        <div id="table-1" class="col-md-12">
            <table class="table">
                <tbody id="tbody-form"></tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="input-group" style="margin-bottom:10px;">
                <div class="input-group-btn">
                    <button id="addPay" type="button" class="btn btn-primary">增加收款</button>
                    <button id="isFinish" type="button" class="btn btn-primary">未结账</button>
                    <button id="isFront" type="button" class="btn btn-primary">前台未审</button>
                    <button id="isFinance" type="button" class="btn btn-primary">财务未审</button>
                    <select id="form-stateType" onchange="selectState()" asp-items="@Html.GetEnumSelectList(typeof(StateType))" class="btn btn-primary"></select>
                    <script>
                        function selectState() {
                            var vs = $('#form-stateType option:selected').val();
                            var vt = $('#form-stateType option:selected').html();
                            if(vs==0)
                            {
                                $("#form-stateType").removeClass("btn-success");
                                $("#form-stateType").removeClass("btn-warning");
                                $("#form-stateType").addClass("btn-primary");
                            }
                            if(vs==1)
                            {
                                $("#form-stateType").removeClass("btn-success");
                                $("#form-stateType").removeClass("btn-primary");
                                $("#form-stateType").addClass("btn-warning");
                            }
                            if(vs==2)
                            {
                                $("#form-stateType").removeClass("btn-warning");
                                $("#form-stateType").removeClass("btn-primary");
                                $("#form-stateType").addClass("btn-success");
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group" style="margin-bottom:10px">
                <span class="input-group-addon">方式</span>
                <select asp-items="ViewBag.PaymentType" id="payWay" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group" style="margin-bottom:10px">
                <span class="input-group-addon">日期</span>
                <input id="payDate" type="text" class="form-control datetimepicker" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group" style="margin-bottom:10px">
                <span class="input-group-addon">金额</span>
                <input id="payAmount" type="text" value="0" class="form-control  clear-data" />
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>执行中，请稍后&hellip;</p>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src='~/lib/fullcalendar/fullcalendar.min.js'></script>
    <script src="~/lib/fullcalendar/locale/zh-cn.js"></script>
    <script src='~/lib/fullcalendar/scheduler/scheduler.min.js'></script>
    <script src="~/lib/artDialog/dist/dialog-min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js" charset="utf-8"></script>
    <script>
        $(function () {
            var _user=@Html.Raw(Json.Serialize(Model));
            var _channel =[];
            var _resourcesData = [];
            var _resourceId = "";
            var date = new Date();
            var _startdate = moment(date).add(-3,"days").format("YYYY-MM-DD");

            //#region Ajax optionAjax
            var optionAjax = {
                type: "post",
                async: true,
                url: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                beforeSend: function () {
                    $('#modal-default').modal('show');
                },
                success: function (result) {
                },
                complete: function () {
                    $('#modal-default').modal('hide');
                },
            };
            //#endregion

            //#region Ajax GetCalendarData
            function GetCalendarData() {
                optionAjax.url = "/Branch/FrontCalendar/GetCalendarData";
                optionAjax.data = JSON.stringify({
                    branch: _user.branch,
                    branchId: _user.branchId,
                    startDate:_startdate,
                    endDate:moment(_startdate).add(30,"days").format("YYYY-MM-DD"),
                });
                optionAjax.success = function (result) {
                    _channel=result.channel;
                    if(result.resources1.isType)
                        _resourcesData.push(result.resources1);
                    else
                        _resourcesData.push(result.resources2);
                    InitCalendar();
                    if(_resourcesData[0].isType)
                        $("#isType").html("房型");
                    else
                    {
                        $("#isType").html("房号");
                        $('#calendar').fullCalendar('option', {resourceAreaWidth: '150'});   //option支持set，注：不仅限于locale，还包括其它option操作
                    }
                };
                $.ajax(optionAjax);
            };
            //#endregion

            //#region InitCalendar
            function InitCalendar() {
                $('#calendar').fullCalendar({
                    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                    header: false,
                    defaultView: 'timelineThirtyDays',
                    views: {
                        timelineThirtyDays: {
                            type: 'timeline',
                            duration: { days: 30 }
                        }
                    },
                    viewRender:function( view, element ){
                    },
                    slotWidth: '120',
                    slotLabelFormat: "ddd MM/DD",
                    height: 'parent',
                    defaultDate: _startdate,
                    navLinks: true,
                    resourceAreaWidth: '180',
                    resourceLabelText:false,
                    resourceOrder: 'order,title',
                    resourceColumns: [
                    {
                        labelText: '房间',
                        field: 'title'
                    },
                    {
                        labelText: '状态',
                        field: 'state',
                        width:"60",
                        render: function(resource, el) {
                            el.css("text-align","center");
                            if (resource.state=="空") {
                                //el.css('background-color', 'royalblue');
                                el.css("color",'red');
                            }
                        }
                    }
                                    ],
                    resources:_resourcesData,
                    resourceRender: function (resourceObj, labelTds, bodyTds) {
                        labelTds.css('height', '18px');
                        labelTds.css('vertical-align','middle');
                    },
                    editable: true,
                    selectable: true,
                    selectHelper: true,
                    select: function (start, end, jsEvent, view, resource) {
                        $(".clear-data").removeAttr("disabled", "disabled");
                        $('.btn').css("height",34);
                        $("#form-stateType").css("height",34);
                        $("#addPay").removeClass("btn-warning");
                        $("#addPay").addClass("btn-primary");
                        $("#isFinish").removeClass("btn-warning");
                        $("#isFinish").addClass("btn-primary");
                        $("#isFront").removeClass("btn-warning");
                        $("#isFront").addClass("btn-primary");
                        $("#isFinance").removeClass("btn-warning");
                        $("#isFinance").addClass("btn-primary");
                        selectState(0);
                        $("#table-1").hide();
                        $(".clear-data").val("");
                        $("#form-received,#payAmount,#form-stateType").val("0");
                        $(".col-md-4").hide();
                        $('#isFinish').html("未结账");
                        $('#isFront').html("前台未审");
                        $('#isFinance').html("财务未审");
                        //#region change/keyup事件
                        $("#addPay").on('click', function () {
                            $("#addPay").removeClass("btn-primary");
                            $("#addPay").addClass("btn-warning");
                            $(".col-md-4").show();
                        });
                        if(_user.position!="普通员工")
                        {
                            $("#isFront").on('click', function () {
                                var hl = $("#isFront").html();
                                if (hl == "前台未审") {
                                    $('#isFront').html("前台已审");
                                    $("#isFront").removeClass("btn-primary");
                                    $("#isFront").addClass("btn-warning");
                                }
                                if (hl == "前台已审") {
                                    $('#isFront').html("前台未审");
                                    $("#isFront").removeClass("btn-warning");
                                    $("#isFront").addClass("btn-primary");
                                }
                            });
                        }
                        $('#payAmount').keyup(function () {
                            var pay = document.getElementById("payAmount").value;
                            var result = 0.00;
                            if (checkIsDouble(pay)&&parseFloat(pay)!=0)
                                result += parseFloat(pay);
                            $('#form-received').val(result.toString());
                            if (result == parseFloat($("#form-receivable").val())) {
                                $('#isFinish').html("已结账");
                                $("#isFinish").removeClass("btn-primary");
                                $("#isFinish").addClass("btn-warning");
                            }
                            else {
                                $('#isFinish').html("未结账");
                                $("#isFinish").removeClass("btn-warning");
                                $("#isFinish").addClass("btn-primary");
                            }
                        });
                        $('#form-unitPrice').keyup(function () {
                            var unitPrice = document.getElementById("form-unitPrice").value;
                            var result = 0.00;
                            if (checkIsDouble(unitPrice))
                                result = parseFloat(unitPrice);
                            var days = DateDiff(moment(start).format("YYYY-MM-DD"), moment(end).format("YYYY-MM-DD"));
                            result = result * days;
                            $('#form-totalPrice').val(result.toString());
                        });
                        $('#form-totalPrice').keyup(function () {
                            var totalPrice = document.getElementById("form-totalPrice").value;
                            var result = 0.00;
                            if (checkIsDouble(totalPrice))
                                result = parseFloat(totalPrice);
                            var days = DateDiff(moment(start).format("YYYY-MM-DD"), moment(end).format("YYYY-MM-DD"));
                            if (parseFloat(days) > 0)
                                result = result / days;
                            $('#form-unitPrice').val(result.toString());
                        });
                        //#endregion
                        var d = dialog({
                            title: "新建订单",
                            content: $("#create-form"),
                            okValue: "确定",
                            ok: function () {
                                var name = $('#form-name').val();
                                var count = $('#form-count').val();
                                var unitPrice = $('#form-unitPrice').val();
                                var totalPrice = $('#form-totalPrice').val();
                                var channel = $('#form-channel').val();
                                var phone=$('#form-phone').val();
                                var receivable = $('#form-receivable').val();
                                var received = $('#form-received').val();
                                var steward = $("#form-steward").val();
                                var frontDeskLeader = $('#form-frontDeskLeader').val();
                                var stewardLeader = $('#form-stewardLeader').val();
                                var relationStaff = $('#form-relationStaff').val();
                                var note = $('#form-note').val();
                                var state=$('#form-stateType  option:selected').val();
                                var payDate = $('#payDate').val();
                                var payWay = $('#payWay').val();
                                var payAmount = $('#payAmount').val();
                                var isFinish = false;
                                if ($('#isFinish').html() == "已结账") {
                                    isFinish = true;
                                }
                                var isFront = false;
                                if ($('#isFront').html() == "前台已审") {
                                    isFront = true;
                                }
                                var color = "";
                                for (var i = 0; i < _channel.length; i++) {
                                    if (_channel[i].channelType == channel)
                                        color = _channel[i].color;
                                }
                                $.ajax({
                                    type: "post",
                                    async: true,
                                    url: "/Branch/FrontCalendar/Create",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    data: JSON.stringify({
                                        id:01,
                                        resourceId:resource.id,
                                        allDay:true,
                                        editable:true,
                                        start:moment(start).format("YYYY-MM-DD"),
                                        end :moment(end).format("YYYY-MM-DD"),
                                        frontDeskAccountsId:01,
                                        houseNumber: resource.id,
                                        count:DateDiff(moment(start).format("YYYY-MM-DD"),moment(end).format("YYYY-MM-DD")),
                                        startDate: moment(start).format("YYYY-MM-DD"),
                                        endDate: moment(end).format("YYYY-MM-DD"),
                                        enteringDate:moment().format("YYYY-MM-DD"),
                                        enteringStaff: _user.userName,
                                        branch: _user.branch,
                                        title:name+" "+channel,
                                        customerName:name,
                                        customerCount: count,
                                        channel: channel,
                                        phone:phone,
                                        unitPrice: unitPrice,
                                        totalPrice: totalPrice,
                                        receivable: receivable,
                                        received: received,
                                        steward: steward,
                                        frontDeskLeader: frontDeskLeader,
                                        stewardLeader: stewardLeader,
                                        relationStaff: relationStaff,
                                        note: note,
                                        state:state,
                                        isFinish: isFinish,
                                        isFront: isFront,
                                        color: color,
                                        payDate: payDate,
                                        payWay: payWay,
                                        payAmount: payAmount,
                                    }),
                                    beforeSend: function () {
                                        $('#modal-default').modal('show');
                                    },
                                    success: function (data) {
                                        $("#calendar").fullCalendar("renderEvent", data.eve, true);
                                    },
                                    complete: function () {
                                        $('#modal-default').modal('hide');
                                    },
                                    error: function () {
                                        alert("Failed");
                                    }

                                });
                            },
                            cancelValue: "关闭",
                            cancel: function () {
                            }
                        });
                        d.width(600).showModal();
                    },
                    events: function(start, end, timezone, callback) {
                            optionAjax.url = "/Branch/FrontCalendar/GetCalendarData";
                            optionAjax.data = JSON.stringify({
                                branch: _user.branch,
                                branchId: _user.branchId,
                                startDate:start,
                                endDate:end,
                            });
                            optionAjax.success = function (result) {
                                callback(result.events);
                            };
                            $.ajax(optionAjax);
                    },
                    eventOverlap: false, // will cause the event to take up entire resource height
                    eventRender: function (event, element) {//在呈现事件时触发
                        if(moment(event.start).format("YYYY-MM-DD")==moment().format("YYYY-MM-DD")&&event.id==_user.branch)
                        {
                            if(event.title=="满房"){
                                element.css("background-color","black");
                                element.css("border-color","black");
                            }
                            else{
                                element.css("background-color","red");
                                element.css("border-color","red");
                            }
                        }
                        element.css("height", "18px");
                        var el = element.html();
                        var hl = "";
                        if (!event.isTitle) {
                            var phone=event.phone==null?"":event.phone;
                            var note=event.note==null?"":event.note;
                            var fstart  = moment(event.startDate).format("MM-DD");
                            var fend  = moment(event.endDate).format("MM-DD");
                            element.attr('data-toggle',"tooltip");
                            element.attr('title',event.customerName+"&nbsp;&lt;"+
                                    event.channel+"&gt;&nbsp;"+
                                    phone+"<br/>"+
                                    event.houseNumber+
                                    "&nbsp;&lt;"+fstart+
                                    "&sim;"+fend+
                                    "&gt;&nbsp;<br/>"+
                                    note);
                            element.tooltip({
                                html:true,
                                placement:"auto",
                            });

                            if (event.isFinish) {
                                hl = "<div style='width:60%;float:left;'>" + el + "</div><div style='text-align:right;font-size:10px;color:white'><i class='glyphicon glyphicon-ok'></i>";
                            }
                            else {
                                hl = "<div style='width:60%;float:left;'>" + el + "</div><div style='text-align:right;font-size:10px;color:white'><i class='glyphicon glyphicon-remove' style='color:red'></i>";
                            }
                            if (event.isFront) {
                                hl += "&nbsp;<i class='glyphicon glyphicon-ok'></i>";
                            }
                            else {
                                hl += "&nbsp;<i class='glyphicon glyphicon-remove' style='color:red'></i>";
                            }
                            if (event.isFinance) {
                                hl += "&nbsp;<i class='fa fa-lock'></i>&nbsp;&nbsp;</div>";
                            }
                            else{
                                hl+="&nbsp;&nbsp;</div>";
                            }
                            element.html(hl);
                        }
                    },
                    eventClick: function (event, jsEvent, view) {
                        if(event.isTitle)
                            return;
                        $(".clear-data").removeAttr("disabled", "disabled");
                        $('.btn').css("height",34);
                        $("#form-stateType").css("height",34);
                        $("#addPay").removeClass("btn-warning");
                        $("#addPay").addClass("btn-primary");
                        $("#isFinish").removeClass("btn-warning");
                        $("#isFinish").addClass("btn-primary");
                        $("#isFront").removeClass("btn-warning");
                        $("#isFront").addClass("btn-primary");
                        $("#isFinance").removeClass("btn-warning");
                        $("#isFinance").addClass("btn-primary");
                        $("#table-1").show();
                        $("#tbody-form").html("");
                        $(".clear-data").val("");
                        $("#form-received,#payAmount").val("0");
                        $(".col-md-4").hide();
                        $('#isFinish').html("未结账");
                        $('#isFront').html("前台未审");
                        $('#isFinance').html("财务未审");
                        $.ajax({
                            type: "post",
                            async: true,
                            url: "/Branch/FrontCalendar/List",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify({
                                frontDeskAccountsId: event.id,
                            }),
                            success: function (data) {
                                var hls = "";
                                for (var i = 0; i < data.list1.length; i++) {
                                    hls += "<tr><td class='brr' style='width:150px'>" + moment(data.list1[i].payDate).format("YYYY-MM-DD HH:MM") + "</td><td class='brr' style='width:150px'>" + data.list1[i].payWay + "</td><td class='brr' style='width:150px'>" + data.list1[i].payAmount+"</td></tr>";
                                }
                                for (var i = 0; i < data.list2.length; i++) {
                                    hls += "<tr><td class='brr' style='width:150px'>" + moment(data.list2[i].payDate).format("YYYY-MM-DD HH:MM") + "</td><td class='brr' style='width:150px'>" + data.list2[i].payWay + "</td><td class='brr' style='width:150px'>" + data.list2[i].payAmount + "</td></tr>";
                                }
                                var ahl = $(hls);
                                ahl.appendTo($("#tbody-form"));
                            },
                            error: function () {
                                alert("Failed");
                            }
                        });
                        if (event.isFinish) {
                            $('#isFinish').html("已结账");
                            $("#isFinish").removeClass("btn-primary");
                            $("#isFinish").addClass("btn-warning");
                        }
                        else{
                            $('#isFinish').html("未结账");
                            $("#isFinish").removeClass("btn-warning");
                            $("#isFinish").addClass("btn-primary");
                        }
                        if (event.isFront) {
                            $('#isFront').html("前台已审");
                            $("#isFront").removeClass("btn-primary");
                            $("#isFront").addClass("btn-warning");
                        }
                        else {
                            $('#isFront').html("前台未审");
                            $("#isFront").removeClass("btn-warning");
                            $("#isFront").addClass("btn-primary");
                        }
                        if (event.isFinance) {
                            $('#isFinance').html("财务已审");
                            $("#isFinance").removeClass("btn-primary");
                            $("#isFinance").addClass("btn-warning");
                        }
                        else {
                            $('#isFinance').html("财务未审");
                            $("#isFinance").removeClass("btn-warning");
                            $("#isFinance").addClass("btn-primary");
                        }
                        selectState(event.state);
                        $('#form-name').val(event.customerName);
                        $('#form-count').val(event.customerCount);
                        $('#form-unitPrice').val(event.unitPrice);
                        $('#form-totalPrice').val(event.totalPrice);
                        $('#form-channel').val(event.channel);
                        $('#form-phone').val(event.phone);
                        $('#form-receivable').val(event.receivable);
                        $('#form-received').val(event.received);
                        $("#form-steward").val(event.steward);
                        $('#form-frontDeskLeader').val(event.frontDeskLeader);
                        $('#form-stewardLeader').val(event.stewardLeader);
                        $('#form-relationStaff').val(event.relationStaff);
                        $('#form-note').val(event.note);
                        $('#form-stateType').val(event.state);
                        if (event.isFinance) {
                            $(".clear-data").attr("disabled","disabled");
                            var d = dialog({
                                title: "查看订单",
                                content: $("#create-form"),
                                cancelValue: "关闭",
                                cancel: function () {
                                }
                            });
                            d.width(600).showModal();
                        }
                        else {
                            //#region change/keyup事件
                            $("#addPay").on('click', function () {
                                $("#addPay").removeClass("btn-primary");
                                $("#addPay").addClass("btn-warning");
                                $(".col-md-4").show();
                            });
                            if(_user.position!="普通员工")
                            {
                                $("#isFront").on('click', function () {
                                    var hl = $("#isFront").html();
                                    if (hl == "前台未审") {
                                        $('#isFront').html("前台已审");
                                        $("#isFront").removeClass("btn-primary");
                                        $("#isFront").addClass("btn-warning");
                                    }
                                    if (hl == "前台已审") {
                                        $('#isFront').html("前台未审");
                                        $("#isFront").removeClass("btn-warning");
                                        $("#isFront").addClass("btn-primary");
                                    }
                                });
                            }
                            $('#form-receivable').keyup(function(){
                                var rble=document.getElementById('form-receivable').value;
                                var reed=document.getElementById('form-received').value;
                                if (parseFloat(rble) == parseFloat(reed) ){
                                    $('#isFinish').html("已结账");
                                    $("#isFinish").removeClass("btn-primary");
                                    $("#isFinish").addClass("btn-warning");
                                }
                                else {
                                    $('#isFinish').html("未结账");
                                    $("#isFinish").removeClass("btn-warning");
                                    $("#isFinish").addClass("btn-primary");
                                }
                            });
                            var rpay=document.getElementById('form-received').value;
                            $('#payAmount').keyup(function () {
                                var pay = document.getElementById("payAmount").value;
                                var result = 0.00;
                                if (checkIsDouble(pay)&&parseFloat(pay)!=0)
                                    result += parseFloat(pay);
                                result+=parseFloat(rpay);
                                if(checkIsDouble(result))
                                    $('#form-received').val(result.toString());
                                else
                                    $('#form-received').val(0);
                                if (result == parseFloat($("#form-receivable").val())) {
                                    $('#isFinish').html("已结账");
                                    $("#isFinish").removeClass("btn-primary");
                                    $("#isFinish").addClass("btn-warning");
                                }
                                else {
                                    $('#isFinish').html("未结账");
                                    $("#isFinish").removeClass("btn-warning");
                                    $("#isFinish").addClass("btn-primary");
                                }
                            });
                            $('#form-unitPrice').keyup(function () {
                                var unitPrice = document.getElementById("form-unitPrice").value;
                                var result = 0.00;
                                if (checkIsDouble(unitPrice))
                                    result = parseFloat(unitPrice);
                                var days = DateDiff(moment(event.start).format("YYYY-MM-DD"), moment(event.end).format("YYYY-MM-DD"));
                                result = result * days;
                                $('#form-totalPrice').val(result.toString());
                            });
                            $('#form-totalPrice').keyup(function () {
                                var totalPrice = document.getElementById("form-totalPrice").value;
                                var result = 0.00;
                                if (checkIsDouble(totalPrice))
                                    result = parseFloat(totalPrice);
                                var days = DateDiff(moment(event.start).format("YYYY-MM-DD"), moment(event.end).format("YYYY-MM-DD"));
                                if (parseFloat(days) > 0)
                                    result = result / days;
                                $('#form-unitPrice').val(result.toString());
                            });
                            //#endregion
                            $(".clear-data").removeAttr("disabled", "disabled");
                            var d = dialog({
                                title: "修改订单",
                                content: $("#create-form"),
                                button: [{
                                    value: '删除订单',
                                    callback: function () {
                                        if (confirm("确定删除订单？")) {
                                            $.ajax({
                                                type: "post",
                                                async: true,
                                                url: "/Branch/FrontCalendar/Delete",
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "json",
                                                data: JSON.stringify({
                                                    frontDeskAccountsId: event.id,
                                                }),
                                                success: function (data) {
                                                    $("#calendar").fullCalendar("removeEvents", event.id);
                                                },
                                                error: function () {
                                                    alert("Failed");
                                                }

                                            });
                                        }
                                    }
                                }],
                                okValue: "确定",
                                ok: function () {
                                    var name = $('#form-name').val();
                                    var count = $('#form-count').val();
                                    var unitPrice = $('#form-unitPrice').val();
                                    var totalPrice = $('#form-totalPrice').val();
                                    var channel = $('#form-channel').val();
                                    var phone=$('#form-phone').val();
                                    var receivable = $('#form-receivable').val();
                                    var received = $('#form-received').val();
                                    var steward = $("#form-steward").val();
                                    var frontDeskLeader = $('#form-frontDeskLeader').val();
                                    var stewardLeader = $('#form-stewardLeader').val();
                                    var relationStaff = $('#form-relationStaff').val();
                                    var note = $('#form-note').val();
                                    var state=$('#form-stateType  option:selected').val();
                                    var payDate = $('#payDate').val();
                                    var payWay = $('#payWay').val();
                                    var payAmount = $('#payAmount').val();
                                    var isFinish = false;
                                    if ($('#isFinish').html() == "已结账") {
                                        isFinish = true;
                                    }
                                    var isFront = false;
                                    if ($('#isFront').html() == "前台已审") {
                                        isFront = true;
                                    }
                                    var color = "";
                                    for (var i = 0; i < _channel.length; i++) {
                                        if (_channel[i].channelType == channel)
                                            color = _channel[i].color;
                                    }
                                    $.ajax({
                                        type: "post",
                                        async: true,
                                        url: "/Branch/FrontCalendar/Edit",
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        data: JSON.stringify({
                                            id:event.id,
                                            resourceId:event.resourceId,
                                            allDay:event.allDay,
                                            editable:event.editable,
                                            start:event.start,
                                            end :event.end,
                                            frontDeskAccountsId:event.frontDeskAccountsId,
                                            houseNumber:event.resourceId,
                                            count:event.count,
                                            startDate: event.startDate,
                                            endDate: event.endDate,
                                            enteringDate:event.enteringDate,
                                            enteringStaff: event.enteringStaff,
                                            branch: event.branch,
                                            title:name+" "+channel,
                                            customerName:name,
                                            customerCount: count,
                                            channel: channel,
                                            phone:phone,
                                            unitPrice: unitPrice,
                                            totalPrice: totalPrice,
                                            receivable: receivable,
                                            received: received,
                                            steward: steward,
                                            frontDeskLeader: frontDeskLeader,
                                            stewardLeader: stewardLeader,
                                            relationStaff: relationStaff,
                                            note: note,
                                            state:state,
                                            isFinish: isFinish,
                                            isFront: isFront,
                                            color: color,
                                            payDate: payDate,
                                            payWay: payWay,
                                            payAmount: payAmount,
                                        }),
                                        beforeSend: function () {
                                            $('#modal-default').modal('show');
                                        },
                                        success: function (data) {
                                            $("#calendar").fullCalendar("removeEvents", data.eve.id);
                                            $("#calendar").fullCalendar("renderEvent", data.eve, true);
                                        },
                                        complete: function () {
                                            $('#modal-default').modal('hide');
                                        },
                                        error: function () {
                                            alert("Failed");
                                        }

                                    });
                                },
                                cancelValue: "关闭",
                                cancel: function () {
                                }
                            });
                            d.width(600).showModal();
                        }
                    },
                    eventDragStart: function (event, jsEvent, ui, view) {
                        _resourceId = event.resourceId;
                    },
                    eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                        var start = moment(event.start).format("YYYY-MM-DD");
                        var end = moment(event.end).format("YYYY-MM-DD");
                        $.ajax({
                            type: "post",
                            async: true,
                            url: "/Branch/FrontCalendar/Drop",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify({
                                id:event.id,
                                resourceId:event.resourceId,
                                allDay:event.allDay,
                                editable:event.editable,
                                start:event.start,
                                end :event.end,
                                frontDeskAccountsId:event.frontDeskAccountsId,
                                houseNumber:event.resourceId,
                                count:event.count,
                                startDate: event.start,
                                endDate: event.end,
                                enteringStaff: event.enteringStaff,
                                branch: event.branch,
                                title:event.title,
                                customerName:event.customerName,
                                customerCount: event.customerCount,
                                channel: event.channel,
                                phone:event.phone,
                                unitPrice: event.unitPrice,
                                totalPrice: event.totalPrice,
                                receivable: event.receivable,
                                received: event.received,
                                steward: event.steward,
                                frontDeskLeader:event.frontDeskLeader,
                                stewardLeader: event.stewardLeader,
                                relationStaff: event.relationStaff,
                                note: event.note,
                                isFinish: event.isFinish,
                                isFront: event.isFront,
                                color: event.color,
                            }),
                            beforeSend: function () {
                                $('#modal-default').modal('show');
                            },
                            success: function (data) {
                                $("#calendar").fullCalendar("removeEvents", data.eve.id);
                                $("#calendar").fullCalendar("renderEvent", data.eve, true);
                            },
                            complete: function () {
                                $('#modal-default').modal('hide');
                            },
                            error: function () {
                                alert("Failed");
                            }

                        });
                    },
                    eventResizeStart: function (event, jsEvent, ui, view) {
                    },
                    eventResize: function (event, dayDelta, minuteDelta, revertFunc) {
                        var start = moment(event.start).format("YYYY-MM-DD");
                        var end = moment(event.end).format("YYYY-MM-DD");
                        $.ajax({
                            type: "post",
                            async: true,
                            url: "/Branch/FrontCalendar/Resize",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify({
                                id:event.id,
                                resourceId:event.resourceId,
                                allDay:event.allDay,
                                editable:event.editable,
                                start:start,
                                end :end,
                                frontDeskAccountsId:event.frontDeskAccountsId,
                                houseNumber:event.resourceId,
                                count:DateDiff(start,end),
                                startDate: start,
                                endDate: end,
                                enteringStaff: event.enteringStaff,
                                branch: event.branch,
                                title:event.title,
                                customerName:event.customerName,
                                customerCount: event.customerCount,
                                channel: event.channel,
                                phone:event.phone,
                                unitPrice: event.unitPrice,
                                totalPrice: event.unitPrice*DateDiff(start,end),
                                receivable: event.receivable*DateDiff(start,end),
                                received: event.received,
                                steward: event.steward,
                                frontDeskLeader:event.frontDeskLeader,
                                stewardLeader: event.stewardLeader,
                                relationStaff: event.relationStaff,
                                note: event.note,
                                isFinish: event.isFinish,
                                isFront: event.isFront,
                                color: event.color,
                            }),
                            beforeSend: function () {
                                $('#modal-default').modal('show');
                            },
                            success: function (data) {
                                $("#calendar").fullCalendar("removeEvents", data.eve.id);
                                $("#calendar").fullCalendar("renderEvent", data.eve, true);
                            },
                            complete: function () {
                                $('#modal-default').modal('hide');
                            },
                            error: function () {
                                alert("Failed");
                            }

                        });
                    }
                });
            }
            $('#isType').on('click',function(){
                var isT=_resourcesData[0].isType;
                if(isT)
                    isT=false;
                else
                    isT=true;
                $.ajax({
                    type: "post",
                    async: true,
                    url: "/Branch/FrontCalendar/EditBranch",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({
                        branchId:_user.branchId,
                        branchName:_user.branch,
                        isType:isT,
                    }),
                    beforeSend: function () {
                        $('#modal-default').modal('show');
                    },
                    success: function (data) {
                        window.location.href="/Branch/FrontCalendar/Index";
                    },
                    complete: function () {
                        $('#modal-default').modal('hide');
                    },
                    error: function () {
                        alert("Failed");
                    }

                });
            });

            $('#today').on('click', function () {
                $('#calendar').fullCalendar('today');
                var tempdate = moment();
                $('#startdate').datepicker('setDate', moment(tempdate).format("YYYY-MM-DD"));
            });

            $('#month').on('click', function () {
                $('#calendar').fullCalendar('changeView', 'timelineThirtyDays', $('#startdate').val());
            });

            $('#prev').on('click', function () {
                $('#calendar').fullCalendar('prev');
                var tempdate = moment($('#startdate').val()).add(-30, 'days');
                $('#startdate').datepicker('setDate', moment(tempdate).format("YYYY-MM-DD"));
            });

            $('#next').on('click', function () {
                $('#calendar').fullCalendar('next');
                var tempdate = moment($('#startdate').val()).add(30, 'days');
                $('#startdate').datepicker('setDate', moment(tempdate).format("YYYY-MM-DD"));
            });

            $('#startdate').change(function () {
                $('#calendar').fullCalendar('changeView', 'timelineThirtyDays', $('#startdate').val());
            });

            $("#startdate").datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                language: "zh-CN",
                todayBtn: 'linked',
                todayHighlight: true,
            });

            //$('#startdate').datepicker('setDate', new Date());
            $('#startdate').datepicker('setDate', _startdate);
            //#endregion

            //#region datetimepicker
            $('.datetimepicker').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,
                language: "zh-CN",
                todayBtn: 'linked',
                todayHighlight: true,
            });
            $('.datetimepicker').datetimepicker('setDate', new Date());
            //#endregion

            //#region 功能模块
            function checkIsDouble(checkString) {

                var reg = /^[0-9,.]*$/;

                if (reg.test(checkString)) {
                    return true;
                }
                //alert("输入数字");
                return false;
            }
            function DateDiff(sDate1, sDate2) {    //sDate1和sDate2是2002-12-18格式
                var aDate, oDate1, oDate2, iDays
                aDate = sDate1.split("-")
                oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])    //转换为12-18-2002格式
                aDate = sDate2.split("-")
                oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])
                iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24)    //把相差的毫秒数转换为天数
                return iDays
            }
            function selectState(vs) {
                if(vs==0)
                {
                    $("#form-stateType").removeClass("btn-success");
                    $("#form-stateType").removeClass("btn-warning");
                    $("#form-stateType").addClass("btn-primary");
                }
                if(vs==1)
                {
                    $("#form-stateType").removeClass("btn-success");
                    $("#form-stateType").removeClass("btn-primary");
                    $("#form-stateType").addClass("btn-warning");
                }
                if(vs==2)
                {
                    $("#form-stateType").removeClass("btn-warning");
                    $("#form-stateType").removeClass("btn-primary");
                    $("#form-stateType").addClass("btn-success");
                }
            }
            //#endregion

            //#region 加载页面初始化数据
            GetCalendarData();
            //#endregion
        });
    </script>
}
