@model BrhFrontModel

@{
    Layout = "_CreateEditLayout";
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <input type="hidden" asp-for="FrontDeskAccountsId" value="@ViewData["FrontDeskAccountsId"]" class="form-control" />
</div>
<div class="col-md-4">
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" type="text" id="startDate" class="form-control datepicker" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HouseNumber" class="control-label"></label>
        <select asp-for="HouseNumber" asp-items="ViewBag.HouseNumber" class="form-control"></select>
        <span asp-validation-for="HouseNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerName" class="control-label"></label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerCount" class="control-label"></label>
        <input asp-for="CustomerCount" class="form-control" />
        <span asp-validation-for="CustomerCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Channel" class="control-label"></label>
        <select asp-for="Channel" asp-items="ViewBag.ChannelType" class="form-control"></select>
        <span asp-validation-for="Channel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EnteringStaff" class="control-label"></label>
        <input asp-for="EnteringStaff" value="@ViewData["UserName"]" readonly="readonly" style="color:red" class="form-control" />
        <span asp-validation-for="EnteringStaff" class="text-danger"></span>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" type="text" id="endDate" class="form-control datepicker" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice" class="control-label"></label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="UnitPrice" readonly="readonly" id="unitPrice" class="form-control" />
            </div>
            <div class="col-md-6">
                <input id="unitPrice2" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalPrice" class="control-label"></label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="TotalPrice" readonly="readonly" id="totalPrice" class="form-control" />
            </div>
            <div class="col-md-6">
                <input id="totalPrice2" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="TotalPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Receivable" class="control-label"></label>
        <input asp-for="Receivable"  class="form-control" />
        <span asp-validation-for="Receivable" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Received" class="control-label"></label>
        <input asp-for="Received" value="0"  id="received" readonly="readonly" class="form-control" />
        <span asp-validation-for="Received" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Branch" class="control-label"></label>
        <input asp-for="Branch" value="@ViewData["Branch"]" readonly="readonly" style="color:red" class="form-control" />
        <span asp-validation-for="Branch" class="text-danger"></span>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label asp-for="Steward" class="control-label"></label>
        <input asp-for="Steward" class="form-control" />
        <span asp-validation-for="Steward" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FrontDeskLeader" class="control-label"></label>
        <input asp-for="FrontDeskLeader" class="form-control" />
        <span asp-validation-for="FrontDeskLeader" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StewardLeader" class="control-label"></label>
        <input asp-for="StewardLeader" class="form-control" />
        <span asp-validation-for="StewardLeader" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RelationStaff" class="control-label"></label>
        <input asp-for="RelationStaff" class="form-control" />
        <span asp-validation-for="RelationStaff" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
        <textarea asp-for="Note" rows="4" class="form-control"></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
</div>
<div class="col-md-12 no-margin no-padding">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">付款方式1</label>
            <select asp-for="PayWay1" asp-items="ViewBag.PaymentType" name="payway1" class="form-control"></select>
            <span asp-validation-for="PayWay1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">付款方式2</label>
            <select asp-for="PayWay2" asp-items="ViewBag.PaymentType" name="payway2" class="form-control"></select>
            <span asp-validation-for="PayWay2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">付款方式3</label>
            <select asp-for="PayWay3" asp-items="ViewBag.PaymentType" name="payway3" class="form-control"></select>
            <span asp-validation-for="PayWay3" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">付款日期</label>
            <input asp-for="PayDate1" name="paydate1"  type="text" class="form-control datetimepicker" />
            <span asp-validation-for="PayDate1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">付款日期</label>
            <input asp-for="PayDate2" name="paydate2"  type="text" class="form-control datetimepicker" />
            <span asp-validation-for="PayDate2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">付款日期</label>
            <input asp-for="PayDate3" name="paydate3"  type="text" class="form-control datetimepicker" />
            <span asp-validation-for="PayDate3" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">付款金额</label>
            <input asp-for="PayAmount1" name="payamount1" id="payamount1" value="0" type="text" class="form-control" />
            <span asp-validation-for="PayAmount1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">付款金额</label>
            <input asp-for="PayAmount2" name="payamount2" id="payamount2" value="0" type="text" class="form-control" />
            <span asp-validation-for="PayAmount2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">付款金额</label>
            <input asp-for="PayAmount3" name="payamount3" id="payamount3" value="0" type="text" class="form-control" />
            <span asp-validation-for="PayAmount3" class="text-danger"></span>
        </div>
    </div>
</div>

@Html.Partial("_ValidationScriptsPartial")

<script>
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        language: "zh-CN",
        todayBtn: 'linked',
        todayHighlight: true,
    });
    $('#startDate').datepicker('setDate', new Date());
    $('#endDate').datepicker('setDate', '+1d');

    $('.datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        language: "zh-CN",
        todayBtn: 'linked',
        todayHighlight: true,
    });
    $('.datetimepicker').datetimepicker('setDate', new Date());

    //#region 功能模块
    function checkIsDouble(checkString) {

        var reg = /^[0-9,.]*$/;

        if (reg.test(checkString)) {
            return true;
        }
        //alert("输入数字");
        return false;
    }
    function DateDiff(sDate1, sDate2) {    //sDate1和sDate2是2002-12-18格式
        var aDate, oDate1, oDate2, iDays
        aDate = sDate1.split("-")
        oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])    //转换为12-18-2002格式
        aDate = sDate2.split("-")
        oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])
        iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24)    //把相差的毫秒数转换为天数
        return iDays
    }
    //#endregion

    //#region change/keyup事件
    $('#payamount1').keyup(function () {
        var pay1 = document.getElementById("payamount1").value;
        var pay2 = document.getElementById("payamount2").value;
        var pay3 = document.getElementById("payamount3").value;
        var result = 0.00;
        if (checkIsDouble(pay1))
            result += parseFloat(pay1);
        if (parseFloat(pay2) > 0)
            result += parseFloat(pay2);
        if (parseFloat(pay3) > 0)
            result += parseFloat(pay3);
        $('#received').val(result.toString());
    });
    $('#payamount2').keyup(function () {
        var pay1 = document.getElementById("payamount1").value;
        var pay2 = document.getElementById("payamount2").value;
        var pay3 = document.getElementById("payamount3").value;
        var result = 0.00;
        if (checkIsDouble(pay2))
            result += parseFloat(pay2);
        if (parseFloat(pay1) > 0)
            result += parseFloat(pay1);
        if (parseFloat(pay3) > 0)
            result += parseFloat(pay3);
        $('#received').val(result.toString());
    });
    $('#payamount3').keyup(function () {
        var pay1 = document.getElementById("payamount1").value;
        var pay2 = document.getElementById("payamount2").value;
        var pay3 = document.getElementById("payamount3").value;
        var result = 0.00;
        if (checkIsDouble(pay3))
            result += parseFloat(pay3);
        if (parseFloat(pay1) > 0)
            result += parseFloat(pay1);
        if (parseFloat(pay2) > 0)
            result += parseFloat(pay2);
        $('#received').val(result.toString());
    });

    $('#unitPrice2').keyup(function () {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        var unitPrice = document.getElementById("unitPrice2").value;
        var result = 0.00;
        if (checkIsDouble(unitPrice))
            result = parseFloat(unitPrice);
        var days = DateDiff(startDate, endDate);
        result = result * days;
        $('#totalPrice').val(result.toString());
        $('#totalPrice2').val(result.toString());
        $('#unitPrice').val(unitPrice.toString());
    });
    $('#totalPrice2').keyup(function () {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        var totalPrice = document.getElementById("totalPrice2").value;
        var result = 0.00;
        if (checkIsDouble(totalPrice))
            result = parseFloat(totalPrice);
        var days = DateDiff(startDate, endDate);
        if (parseFloat(days) > 0)
            result = result / days;
        $('#totalPrice').val(totalPrice.toString());
        $('#unitPrice2').val(result.toString());
        $('#unitPrice').val(result.toString());
    });
    $('#startDate,#endDate').change(function () {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        var unitPrice = document.getElementById("unitPrice2").value;
        var totalPrice = document.getElementById("totalPrice2").value;

        var result = 0.00;
        if (parseFloat(unitPrice) > 0)
            result = parseFloat(unitPrice);
        var days = DateDiff(startDate, endDate);
        result = result * days;
        $('#totalPrice').val(result.toString());
        $('#totalPrice2').val(result.toString());
    });
    //#endregion
</script>