@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject UserManager<AppIdentityUser> _userManager
@model AppIdentityUser
@{
    AppIdentityUser _user = await _userManager.FindByNameAsync(User.Identity.Name);
    var list_roles = await _userManager.GetRolesAsync(_user);
}

@{
    Layout = "_Layout2";
}
<link href="~/lib/fullcalendar/fullcalendar.css" rel="stylesheet" />
<link href="~/lib/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href='~/lib/fullcalendar/scheduler/scheduler.css' rel='stylesheet' />
<link href="~/lib/artDialog/css/ui-dialog.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<style>
    #calendar td.div {
        height: 30px !important;
    }

    .table td.brr {
        text-align: left !important;
    }

    .table td.brl {
        text-align: right !important;
    }

    .description-header {
        color: coral;
    }
</style>
<div style="background-color:white" id="calendar"></div>

<div id="create-form" style="display:none;">
    <form class="form-inline">
        <div class="col-md-12">
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">姓名</span>
                <input id="form-name" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">单价</span>
                <input id="form-unitPrice" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">总价</span>
                <input id="form-totalPrice" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">结算价</span>
                <input id="form-settlement" type="text" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">佣金</span>
                <input id="form-commission" type="text" readonly="readonly" class="form-control clear-data">
            </div>
            <div class="input-group" style="margin-bottom:10px;width:100%">
                <span class="input-group-addon" style="width:25%;">渠道</span>
                <select id="form-channel" asp-items="ViewBag.ChannelType" class="form-control clear-data"></select>
            </div>
        </div>
        <div class="col-md-12">
            <textarea id="form-note" class="form-control clear-data" rows="4" style="margin-bottom:10px;width:100%;"></textarea>
        </div>
        <div class="col-md-12">
            <div class="input-group" style="margin-bottom:10px;">
                <div class="input-group-btn">
                    <button id="isFront" type="button" class="btn btn-primary">前台未审</button>
                    <button id="isFinance" type="button" class="btn btn-primary">财务未审</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>执行中，请稍后&hellip;</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src='~/lib/fullcalendar/fullcalendar.min.js'></script>
    <script src="~/lib/fullcalendar/locale/zh-cn.js"></script>
    <script src='~/lib/fullcalendar/scheduler/scheduler.min.js'></script>
    <script src="~/lib/artDialog/dist/dialog-min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js" charset="utf-8"></script>
    <script>
        $(function () {
            var _user=@Html.Raw(Json.Serialize(Model));
            var _roles =@Json.Serialize(list_roles);
            var _imprestAccountsId =@Json.Serialize(ViewBag.ImprestAccountsId);
            console.log (_imprestAccountsId);
            var _channel =[];
            var _resourcesData = [];
            var _resourceId = "";
            var date = new Date();
            var _startdate = moment(date).add(-3,"days").format("YYYY-MM-DD");

            //#region Ajax optionAjax
            var optionAjax = {
                type: "post",
                async: true,
                url: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                beforeSend: function () {
                    $('#modal-default').modal('show');
                },
                success: function (result) {
                },
                complete: function () {
                    $('#modal-default').modal('hide');
                },
            };
            //#endregion

            //#region Ajax GetCalendarData
            function GetCalendarData() {
                optionAjax.url = "/Branch/BrhScalp/GetResources";
                optionAjax.data = JSON.stringify({
                    branch: _user.branch,
                    branchId: _user.branchId,
                    startDate:_startdate,
                    endDate:moment(_startdate).add(31,"days").format("YYYY-MM-DD"),
                });
                optionAjax.success = function (result) {
                    _channel=result.channel;
                    _resourcesData.push(result.resources2);
                    InitCalendar();
                    $("#isType").html("房号");
                    $('#calendar').fullCalendar('option', {resourceAreaWidth: '100'});   //option支持set，注：不仅限于locale，还包括其它option操作
                };
                $.ajax(optionAjax);
            };
            //#endregion

            //#region InitCalendar
            function InitCalendar() {
                $('#calendar').fullCalendar({
                    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                    header: false,
                    defaultView: 'timelineThirtyDays',
                    views: {
                        timelineThirtyDays: {
                            type: 'timeline',
                            duration: { days: 31 }
                        }
                    },
                    viewRender:function( view, element ){
                    },
                    slotWidth: '120',
                    slotLabelFormat: "ddd MM/DD",
                    height: 'parent',
                    defaultDate: _startdate,
                    navLinks: true,
                    resourceAreaWidth: '100',
                    resourceLabelText:false,
                    resourceOrder: 'order,title',
                    resourceColumns: [
                    {
                        labelText: '房间',
                            field: 'title',
                        },
                    ],
                    resources: function(callback, start, end, timezone) {
                            callback(_resourcesData);
                    },
                    resourceRender: function (resourceObj, labelTds, bodyTds) {
                        labelTds.css('height', '18px');
                        labelTds.css('vertical-align','middle');
                    },
                    editable: false,
                    selectable: true,
                    selectHelper: true,
                    select: function (start, end, jsEvent, view, resource) {
                        $(".clear-data").removeAttr("disabled", "disabled");
                        $('.btn').css("height",34);
                        $("#isFront").removeClass("btn-warning");
                        $("#isFront").addClass("btn-primary");
                        $("#isFinance").removeClass("btn-warning");
                        $("#isFinance").addClass("btn-primary");
                        $(".clear-data").val("");
                        $("#form-commission,#form-settlement").val("0");
                        $('#isFront').html("前台未审");
                        $('#isFinance').html("财务未审");
                        //#region change/keyup事件
                        if(_roles.indexOf("前台审核")>-1)
                        {
                            $("#isFront").on('click', function () {
                                var hl = $("#isFront").html();
                                if (hl == "前台未审") {
                                    $('#isFront').html("前台已审");
                                    $("#isFront").removeClass("btn-primary");
                                    $("#isFront").addClass("btn-warning");
                                }
                                if (hl == "前台已审") {
                                    $('#isFront').html("前台未审");
                                    $("#isFront").removeClass("btn-warning");
                                    $("#isFront").addClass("btn-primary");
                                }
                            });
                        }
                        $('#form-unitPrice').keyup(function () {
                            var unitPrice = document.getElementById("form-unitPrice").value;
                            var settlement = document.getElementById("form-settlement").value;
                            var result = 0.00;
                            var result2 = 0.00;
                            if (checkIsDouble(unitPrice))
                                result = parseFloat(unitPrice);
                            var days = DateDiff(moment(start).format("YYYY-MM-DD"), moment(end).format("YYYY-MM-DD"));
                            result = result * days;
                            $('#form-totalPrice').val(result.toFixed(2).toString());
                            if (checkIsDouble(settlement)) {
                                result2 = parseFloat(settlement);
                                $('#form-commission').val((result - result2).toFixed(2).toString());
                            }
                        });
                        $('#form-totalPrice').keyup(function () {
                            var totalPrice = document.getElementById("form-totalPrice").value;
                            var settlement = document.getElementById("form-settlement").value;
                            var result = 0.00;
                            var result2 = 0.00;
                            if (checkIsDouble(totalPrice))
                                result = parseFloat(totalPrice);
                            var days = DateDiff(moment(start).format("YYYY-MM-DD"), moment(end).format("YYYY-MM-DD"));
                            if (parseFloat(days) > 0)
                                result = result / days;
                            $('#form-unitPrice').val(result.toFixed(2).toString());
                            if (checkIsDouble(settlement)) {
                                result2 = parseFloat(settlement);
                                $('#form-commission').val((result - result2).toFixed(2).toString());
                            }
                        });
                        $('#form-settlement').keyup(function () {
                            var totalPrice = document.getElementById("form-totalPrice").value;
                            var settlement = document.getElementById("form-settlement").value;
                            var result = 0.00;
                            var result2 = 0.00;
                            if (checkIsDouble(totalPrice))
                                result = parseFloat(totalPrice);
                            if (checkIsDouble(settlement)) {
                                result2 = parseFloat(settlement);
                                $('#form-commission').val((result - result2).toFixed(2).toString());
                            }
                        });
                        //#endregion
                        var d = dialog({
                            title: "新建订单 " + " " + resource.id + " < " + moment(start).format("MM-DD") + " ~ " + moment(end).format("MM-DD") + " >",
                            drag: true,
                            content: $("#create-form"),
                            okValue: "确定",
                            ok: function () {
                                var name = $('#form-name').val();
                                var unitPrice = $('#form-unitPrice').val();
                                var totalPrice = $('#form-totalPrice').val();
                                var channel = $('#form-channel').val();
                                var settlement = $('#form-settlement').val();
                                var commission = $('#form-commission').val();
                                var note = $('#form-note').val();
                                var isFront = false;
                                if ($('#isFront').html() == "前台已审") {
                                    isFront = true;
                                }
                                var color = "";
                                for (var i = 0; i < _channel.length; i++) {
                                    if (_channel[i].channelType == channel)
                                        color = _channel[i].color;
                                }
                                $.ajax({
                                    type: "post",
                                    async: true,
                                    url: "/Branch/BrhScalp/Create",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    data: JSON.stringify({
                                        id: 01,
                                        imprestAccountsId:_imprestAccountsId,
                                        resourceId: resource.id,
                                        allDay: true,
                                        editable: true,
                                        start: moment(start).format("YYYY-MM-DD"),
                                        end: moment(end).format("YYYY-MM-DD"),
                                        scalpId: 01,
                                        houseNumber: resource.id,
                                        startDate: moment(start).format("YYYY-MM-DD"),
                                        endDate: moment(end).format("YYYY-MM-DD"),
                                        enteringDate: moment().format("YYYY-MM-DD"),
                                        enteringStaff: _user.userName,
                                        branch: _user.branch,
                                        title: name + " " + channel,
                                        channel: channel,
                                        customerName: name,
                                        unitPrice: unitPrice,
                                        totalPrice: totalPrice,
                                        settlement: settlement,
                                        commission: commission,
                                        note: note,
                                        isFront: isFront,
                                        color: color,
                                    }),
                                    beforeSend: function () {
                                        $('#modal-default').modal('show');
                                    },
                                    success: function (data) {
                                                $("#calendar").fullCalendar("renderEvent", data, false);
                                    },
                                    complete: function () {
                                        $('#modal-default').modal('hide');
                                    },
                                    error: function () {
                                        alert("Failed");
                                    }

                                });
                            },
                            cancelValue: "关闭",
                            cancel: function () {
                            }
                        });
                        d.width(600).showModal();
                    },
                    events: function(start, end, timezone, callback) {
                            optionAjax.url = "/Branch/BrhScalp/GetCalendarData";
                            optionAjax.data = JSON.stringify({
                                branch: _user.branch,
                                branchId: _user.branchId,
                                startDate:start,
                                endDate:end,
                            });
                            optionAjax.success = function (result) {
                                callback(result.events);
                            };
                            $.ajax(optionAjax);
                    },
                    eventOverlap: false, // will cause the event to take up entire resource height
                    eventRender: function (event, element) {//在呈现事件时触发
                        element.css("height", "18px");
                        var el = element.html();
                        var hl = "";
                        if (!event.isTitle) {
                            var note=event.note==null?"":event.note;
                            var fstart  = moment(event.startDate).format("MM-DD");
                            var fend  = moment(event.endDate).format("MM-DD");
                            var unit=event.unitPrice;
                            var total=event.totalPrice;
                            element.attr('data-toggle',"tooltip");
                            element.attr('title',event.channel+
                                    "&nbsp;&lt;"+fstart+
                                    "&sim;"+fend+
                                    "&gt;&nbsp;"+
                                    "&nbsp;&yen;"+unit+
                                    "&nbsp;&yen;"+total+
                                    "&nbsp;<br/>"+
                                    note);
                            element.tooltip({
                                html:true,
                                placement:"auto",
                        });

                            hl = "<div style='width:60%;float:left;'>" + el + "</div><div style='text-align:right;font-size:10px;'>";
                            if (event.isFront) {
                                hl += "&nbsp;<i class='glyphicon glyphicon-ok' style='color:white'></i>";
                            }
                            else {
                                hl += "&nbsp;<i class='glyphicon glyphicon-remove' style='color:red'></i>";
                            }
                            if (event.isFinance) {
                                hl += "&nbsp;<i class='fa fa-lock' style='color:white'></i>&nbsp;&nbsp;</div>";
                            }
                            else{
                                hl+="&nbsp;&nbsp;</div>";
                            }
                            element.html(hl);
                        }
                    },
                    eventClick: function (event, jsEvent, view) {
                        if(event.isTitle)
                            return;
                        $(".clear-data").removeAttr("disabled", "disabled");
                        $("#isFront").removeClass("btn-warning");
                        $("#isFront").addClass("btn-primary");
                        $("#isFinance").removeClass("btn-warning");
                        $("#isFinance").addClass("btn-primary");
                        $(".clear-data").val("");
                        $('#isFront').html("前台未审");
                        $('#isFinance').html("财务未审");
                        if (event.isFront) {
                            $('#isFront').html("前台已审");
                            $("#isFront").removeClass("btn-primary");
                            $("#isFront").addClass("btn-warning");
                        }
                        else {
                            $('#isFront').html("前台未审");
                            $("#isFront").removeClass("btn-warning");
                            $("#isFront").addClass("btn-primary");
                        }
                        if (event.isFinance) {
                            $('#isFinance').html("财务已审");
                            $("#isFinance").removeClass("btn-primary");
                            $("#isFinance").addClass("btn-warning");
                        }
                        else {
                            $('#isFinance').html("财务未审");
                            $("#isFinance").removeClass("btn-warning");
                            $("#isFinance").addClass("btn-primary");
                        }
                        $('#form-name').val(event.customerName);
                        $('#form-unitPrice').val(event.unitPrice);
                        $('#form-totalPrice').val(event.totalPrice);
                        $('#form-channel').val(event.channel);
                        $('#form-settlement').val(event.settlement);
                        $('#form-commission').val(event.commission);
                        $('#form-note').val(event.note);
                        if (event.isFinance) {
                            $(".clear-data").attr("disabled","disabled");
                            var d = dialog({
                                title: "查看订单 " + " " + event.houseNumber + " < " + moment(event.start).format("MM-DD") + " ~ " + moment(event.end).format("MM-DD") + " >",
                                content: $("#create-form"),
                                cancelValue: "关闭",
                                cancel: function () {
                                }
                            });
                            d.width(600).showModal();
                        }
                        else {
                            //#region change/keyup事件
                            if(_roles.indexOf("前台审核")>-1)
                            {
                                $("#isFront").on('click', function () {
                                    var hl = $("#isFront").html();
                                    if (hl == "前台未审") {
                                        $('#isFront').html("前台已审");
                                        $("#isFront").removeClass("btn-primary");
                                        $("#isFront").addClass("btn-warning");
                                    }
                                    if (hl == "前台已审") {
                                        $('#isFront').html("前台未审");
                                        $("#isFront").removeClass("btn-warning");
                                        $("#isFront").addClass("btn-primary");
                                    }
                                });
                            }
                            //#endregion
                            $(".clear-data").removeAttr("disabled", "disabled");
                            $('#form-unitPrice').keyup(function () {
                                var unitPrice = document.getElementById("form-unitPrice").value;
                                var settlement = document.getElementById("form-settlement").value;
                                var result = 0.00;
                                var result2 = 0.00;
                                if (checkIsDouble(unitPrice))
                                    result = parseFloat(unitPrice);
                                var days = DateDiff(moment(event.start).format("YYYY-MM-DD"), moment(event.end).format("YYYY-MM-DD"));
                                result = result * days;
                                $('#form-totalPrice').val(result.toFixed(2).toString());
                                if (checkIsDouble(settlement)) {
                                    result2 = parseFloat(settlement);
                                    $('#form-commission').val((result - result2).toFixed(2).toString());
                                }
                            });
                            $('#form-totalPrice').keyup(function () {
                                var totalPrice = document.getElementById("form-totalPrice").value;
                                var settlement = document.getElementById("form-settlement").value;
                                var result = 0.00;
                                var result2 = 0.00;
                                if (checkIsDouble(totalPrice))
                                    result = parseFloat(totalPrice);
                                var days = DateDiff(moment(event.start).format("YYYY-MM-DD"), moment(event.end).format("YYYY-MM-DD"));
                                if (parseFloat(days) > 0)
                                    result = result / days;
                                $('#form-unitPrice').val(result.toFixed(2).toString());
                                if (checkIsDouble(settlement)) {
                                    result2 = parseFloat(settlement);
                                    $('#form-commission').val((result - result2).toFixed(2).toString());
                                }
                            });
                            $('#form-settlement').keyup(function () {
                                var totalPrice = document.getElementById("form-totalPrice").value;
                                var settlement = document.getElementById("form-settlement").value;
                                var result = 0.00;
                                var result2 = 0.00;
                                if (checkIsDouble(totalPrice))
                                    result = parseFloat(totalPrice);
                                if (checkIsDouble(settlement)) {
                                    result2 = parseFloat(settlement);
                                    $('#form-commission').val((result - result2).toFixed(2).toString());
                                }
                            });
                            var d = dialog({
                                title: "修改订单 " + " "  + event.houseNumber + " < " + moment(event.start).format("MM-DD") + " ~ " + moment(event.end).format("MM-DD") + " >",
                                content: $("#create-form"),
                                button: [{
                                    value: '删除订单',
                                    callback: function () {
                                        optionAjax.url = "/Branch/BrhScalp/Delete";
                                        optionAjax.data = JSON.stringify({
                                            scalpId:event.scalpId
                                        });
                                        optionAjax.success = function (result) {
                                            $("#calendar").fullCalendar("removeEvents", event.id);
                                        };
                                        $.ajax(optionAjax);
                                    }
                                }],
                                okValue: "确定",
                                ok: function () {
                                    var name = $('#form-name').val();
                                    var unitPrice = $('#form-unitPrice').val();
                                    var totalPrice = $('#form-totalPrice').val();
                                    var channel = $('#form-channel').val();
                                    var settlement = $('#form-settlement').val();
                                    var commission = $('#form-commission').val();
                                    var note = $('#form-note').val();
                                    var isFront = false;
                                    if ($('#isFront').html() == "前台已审") {
                                        isFront = true;
                                    }
                                    var isFinance = false;
                                    if ($('#isFinance').html() == "财务已审") {
                                        isFinance = true;
                                    }
                                    var color = "";
                                    for (var i = 0; i < _channel.length; i++) {
                                        if (_channel[i].channelType == channel)
                                            color = _channel[i].color;
                                    }
                                    $.ajax({
                                        type: "post",
                                        async: true,
                                        url: "/Branch/BrhScalp/Edit",
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        data: JSON.stringify({
                                            id: event.id,
                                            imprestAccountsId: _imprestAccountsId,
                                            resourceId:event.resourceId,
                                            allDay:event.allDay,
                                            editable:event.editable,
                                            start:event.start,
                                            end :event.end,
                                            scalpId:event.scalpId,
                                            houseNumber:event.resourceId,
                                            startDate: event.startDate,
                                            endDate: event.endDate,
                                            enteringDate:event.enteringDate,
                                            enteringStaff: event.enteringStaff,
                                            branch: event.branch,
                                            title:name+" "+channel,
                                            channel: channel,
                                            customerName:name,
                                            unitPrice: unitPrice,
                                            totalPrice: totalPrice,
                                            settlement: settlement,
                                            commission: commission,
                                            note: note,
                                            isFront: isFront,
                                            isFinance:isFinance,
                                            color: color,
                                        }),
                                        beforeSend: function () {
                                            $('#modal-default').modal('show');
                                        },
                                        success: function (data) {
                                            $("#calendar").fullCalendar("removeEvents", event.id);
                                            $("#calendar").fullCalendar("renderEvent", data, false);
                                        },
                                        complete: function () {
                                            $('#modal-default').modal('hide');
                                        },
                                        error: function () {
                                            alert("Failed");
                                        }

                                    });
                                },
                                cancelValue: "关闭",
                                cancel: function () {
                                }
                            });
                            d.width(600).showModal();
                        }
                    }
                });
            }

            $('#today').on('click', function () {
                $('#calendar').fullCalendar('today');
                var tempdate = moment();
                $('#startdate').datepicker('setDate', moment(tempdate).format("YYYY-MM-DD"));
            });

            $('#month').on('click', function () {
                $('#calendar').fullCalendar('changeView', 'timelineThirtyDays', $('#startdate').val());
            });

            $('#prev').on('click', function () {
                $('#calendar').fullCalendar('prev');
                var tempdate = moment($('#startdate').val()).add(-31, 'days');
                $('#startdate').datepicker('setDate', moment(tempdate).format("YYYY-MM-DD"));
            });

            $('#next').on('click', function () {
                $('#calendar').fullCalendar('next');
                var tempdate = moment($('#startdate').val()).add(31, 'days');
                $('#startdate').datepicker('setDate', moment(tempdate).format("YYYY-MM-DD"));
            });

            $('#startdate').change(function () {
                $('#calendar').fullCalendar('changeView', 'timelineThirtyDays', $('#startdate').val());
            });

            $("#startdate").datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                language: "zh-CN",
                todayBtn: 'linked',
                todayHighlight: true,
            });

            //$('#startdate').datepicker('setDate', new Date());
            $('#startdate').datepicker('setDate', _startdate);
            //#endregion

            //#region datetimepicker
            $('.datetimepicker').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,
                language: "zh-CN",
                todayBtn: 'linked',
                todayHighlight: true,
            });
            $('.datetimepicker').datetimepicker('setDate', new Date());
            //#endregion

            //#region 功能模块
            function checkIsDouble(checkString) {

                var reg = /^[0-9,.]*$/;

                if (reg.test(checkString)) {
                    return true;
                }
                //alert("输入数字");
                return false;
            }
            function DateDiff(sDate1, sDate2) {    //sDate1和sDate2是2002-12-18格式
                var aDate, oDate1, oDate2, iDays
                aDate = sDate1.split("-")
                oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])    //转换为12-18-2002格式
                aDate = sDate2.split("-")
                oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0])
                iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24)    //把相差的毫秒数转换为天数
                return iDays
            }
            //#endregion

            //#region 加载页面初始化数据
            GetCalendarData();
            //#endregion
        });
    </script>
}
