@model BrhImprestRecord

@{
    Layout = "_CreateEditLayout";
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@if (ViewData["action"].ToString() == "Create")
{
    <div class="form-group">
        <input type="hidden" asp-for="ImprestAccountsId" value="@ViewData["ImprestAccountsId"]" class="form-control" />
    </div>
}
else
{
    <input type="hidden" asp-for="ImprestRecordId" />
    <input type="hidden" asp-for="ImprestAccountsId" />
}
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EnteringDate" class="control-label"></label>
            <input asp-for="EnteringDate" id="enterdate" type="text" class="form-control datepicker" />
            <span asp-validation-for="EnteringDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ExpendType" class="control-label"></label>
            <select asp-for="ExpendType" asp-items="ViewBag.ExpendType" class="form-control"></select>
            <span asp-validation-for="ExpendType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Purpose" class="control-label"></label>
            <input asp-for="Purpose" class="form-control" />
            <span asp-validation-for="Purpose" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PaymentType" class="control-label"></label>
            <select asp-for="PaymentType" asp-items="ViewBag.PaymentType" class="form-control"></select>
            <span asp-validation-for="PaymentType" class="text-danger"></span>
        </div>
    </div>
<div class="col-md-6">
    <div class="form-group">
        <label asp-for="ConnectNumber" class="control-label"></label>
        <input asp-for="ConnectNumber" class="form-control" />
        <span asp-validation-for="ConnectNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EnteringStaff" class="control-label"></label>
        <input asp-for="EnteringStaff" value="@ViewData["UserName"]" readonly="readonly" style="color:red" class="form-control" />
        <span asp-validation-for="EnteringStaff" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Branch" class="control-label"></label>
        <input asp-for="Branch" value="@ViewData["BelongTo"]" readonly="readonly" style="color:red" class="form-control" />
        <span asp-validation-for="Branch" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
</div>

@Html.Partial("_ValidationScriptsPartial")

<script>
    $(".datepicker").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        language: "zh-CN",
        todayBtn: 'linked',
        todayHighlight: true,
    });
</script>