@model JJNG.Data.Branch.BrhImprestRecord

@{
    Layout = "_CreateEditLayout";
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@if (ViewData["action"].ToString() == "Create")
{ }
else
{
    <input type="hidden" asp-for="ImprestRecordId" />
}
<div class="col-md-6">
    <div class="form-group">
        <label asp-for="ImprestAccountsId" class="control-label"></label>
        <select asp-for="ImprestAccountsId" class="form-control" asp-items="ViewBag.ImprestAccountsId"></select>
    </div>
    <div class="form-group">
        <label asp-for="EnteringDate" class="control-label"></label>
        <input asp-for="EnteringDate" class="form-control" />
        <span asp-validation-for="EnteringDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExpendType" class="control-label"></label>
        <input asp-for="ExpendType" class="form-control" />
        <span asp-validation-for="ExpendType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Purpose" class="control-label"></label>
        <input asp-for="Purpose" class="form-control" />
        <span asp-validation-for="Purpose" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentType" class="control-label"></label>
        <input asp-for="PaymentType" class="form-control" />
        <span asp-validation-for="PaymentType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConnectNumber" class="control-label"></label>
        <input asp-for="ConnectNumber" class="form-control" />
        <span asp-validation-for="ConnectNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EnteringStaff" class="control-label"></label>
        <input asp-for="EnteringStaff" class="form-control" />
        <span asp-validation-for="EnteringStaff" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="IsFinance" /> @Html.DisplayNameFor(model => model.IsFinance)
            </label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Branch" class="control-label"></label>
        <input asp-for="Branch" class="form-control" />
        <span asp-validation-for="Branch" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
</div>


