@model JJNG.Data.Finance.FncHouseType

@{
    Layout = "_CreateEditLayout";
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
}
<div class="col-md-12">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (ViewData["action"].ToString() == "Create")
    {
        <div class="form-group">
            <input type="hidden" asp-for="BranchId" value="@ViewData["BranchId"]" class="form-control" />
        </div>
    }
    else
    {
        <input type="hidden" asp-for="HouseTypeId" />
        <input type="hidden" asp-for="BranchId" class="form-control" />
    }
    <div class="form-group col-md-4">
        <label asp-for="HouseType" class="control-label"></label>
        <input asp-for="HouseType" class="form-control" />
        <span asp-validation-for="HouseType" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Order" class="control-label"></label>
        <input asp-for="Order" class="form-control" />
        <span asp-validation-for="Order" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="OTAOrder1" class="control-label"></label>
        <input asp-for="OTAOrder1" class="form-control" />
        <span asp-validation-for="OTAOrder1" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="OTAOrder2" class="control-label"></label>
        <input asp-for="OTAOrder2" class="form-control" />
        <span asp-validation-for="OTAOrder2" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="OTAPre" class="control-label"></label>
        <input asp-for="OTAPre" class="form-control" />
        <span asp-validation-for="OTAPre" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="OTABase" class="control-label"></label>
        <input asp-for="OTABase" class="form-control" />
        <span asp-validation-for="OTABase" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="OTASpot" class="control-label"></label>
        <input asp-for="OTASpot" class="form-control" />
        <span asp-validation-for="OTASpot" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="StickerPrice" class="control-label"></label>
        <input asp-for="StickerPrice" class="form-control" />
        <span asp-validation-for="StickerPrice" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="CooperationPrice" class="control-label"></label>
        <input asp-for="CooperationPrice" class="form-control" />
        <span asp-validation-for="CooperationPrice" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="PeakPrice" class="control-label"></label>
        <input asp-for="PeakPrice" class="form-control" />
        <span asp-validation-for="PeakPrice" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label class="control-label">
            <span class="col-md-12">是否为真实房型</span>
        </label>
        <div class="checkbox icheck col-md-offset-2" style="margin-top:0">
            <input type="checkbox" class="flat-blue" asp-for="IsReal" />
        </div>
    </div>
</div>
<script>
    $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
        checkboxClass: 'icheckbox_flat-blue',
        radioClass: 'iradio_flat-blue'
    })
</script>

