@model JJNG.Data.AppIdentity.UserBelongToDetial

@{
    Layout = "_CreateEditLayout";
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
}
<div class="col-md-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (ViewData["action"].ToString() == "Create")
    {
        <div class="form-group">
            <input type="hidden" asp-for="BelongToId" value="@ViewData["BelongToId"]" class="form-control" />
        </div>
    }
    else
    {
        <input type="hidden" asp-for="BelongToDetialId" />
        <input type="hidden" asp-for="BelongToId"  class="form-control" />
    }
    <div class="form-group">
        <label asp-for="HouseNumber" class="control-label">@ViewData["BelongToName"]  - 房号</label>
        <input asp-for="HouseNumber" class="form-control" />
        <span asp-validation-for="HouseNumber" class="text-danger"></span>
    </div>
</div>

