@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tinyinn</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="~/front/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/front/fonts/font-awesome/css/font-awesome.css">
    <link href="~/front/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="~/front/css/owl.theme.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="~/front/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/front/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/lib/jvectormap/css/jquery.jvectormap.css" type="text/css" />
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-terminal"></i>  TINYINN
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">町隐学院</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#works">既见行旅</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">小即是美</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#testimonials">品牌故事</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">联系我们</a>
                    </li>
                    <li>
                        <a class="page-scroll" asp-action="Login" asp-controller="Account" asp-area="AppIdentity">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>北京<span class="brand-heading">町隐酒店管理</span>有限公司</h1>
                        <p class="intro-text">Beijing Tiny Inn management Ltd. Company</p>
                        <a href="#services" class="btn btn-circle page-scroll hidden-xs">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>町隐学院</h2>
                <h3>Tiny Inn Academy</h3>
                <hr>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-laptop"></i>
                    <h4><strong>民宿教育</strong></h4>
                    <p>院校办学&nbsp;&nbsp;人才培训&nbsp;&nbsp;行业交流&nbsp;&nbsp;人才储备</p>
                </div>
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-code"></i>
                    <h4><strong>产业整合</strong></h4>
                    <p>设计软装&nbsp;&nbsp;产品供应商&nbsp;&nbsp;项目推介&nbsp;&nbsp;金融众筹</p>
                </div>
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-rocket"></i>
                    <h4><strong>行业智库</strong></h4>
                    <p>行业研究&nbsp;&nbsp;运营诊断&nbsp;&nbsp;集群策划&nbsp;&nbsp;民宿运营</p>
                </div>
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-bullseye"></i>
                    <h4><strong>媒体传播</strong></h4>
                    <p>事件引爆&nbsp;&nbsp;营销推广&nbsp;&nbsp;线上订房&nbsp;&nbsp;人才招聘</p>
                </div>
            </div>
        </div>
    </div>
    <div id="services1">
        <div class="container">
            <div class="section-title text-center center">
                <h3 style="color:#F4D03F">学院简介及分院分布</h3>
                <hr style="height:2px" />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="padding-left">
                        <p>
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 町隐民宿学院扎根中国最大的非标住宿集群区域，云南，通过持续的论坛交流活动、培训以及为行业持续的发声，沉淀了良好的客栈业主圈层，通过共建培育的方式，打造出适应非标住宿产品的课程，并且和云南省内多所院校建立了联系，创造了以校企合作导入受训应届毕业生，经考核后批量输送到行业内的“三方模式”。
                            <br />
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 通过整合上下游行业资源，町隐与合作伙伴一起推动这个行业朝健康积极的方向发展，并乐于和大家分享这种发展带来的利益。
                            <br />
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 学院目前也通过合作的模式，和云南外的机构成立分院，建立学院联动机制，把町隐在云南沉淀的经验，和更多的民宿同行分享。通过和台湾民宿同行签订战略合作协议，町隐也把分院落地在台南，以此出发，通过游学及项目合作，把台湾民宿的有益经验输送给大陆，并进行两岸民宿人才互动，实现共同提升的目标。
                            <br />
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 各个分院已经建立和待建立的列表：
                            <br />
                        </p>
                        <div style="padding-left:30px">
                            <i class="fa fa-check" style="color:red"></i>町隐·云南民宿学院：Tiny Inn Academy of Yunnan
                            <br />
                            <i class="fa fa-check" style="color:red"></i>町隐·江南民宿学院：Tiny Inn Academy of Jiangnan
                            <br />
                            <i class="fa fa-check" style="color:red"></i>町隐·广西民宿学院：Tiny Inn Academy of Guangxi
                            <br />
                            <i class="fa fa-check" style="color:red"></i>町隐·八闽民宿学院：Tiny Inn Academy of Fujian
                            <br />
                            <i class="fa fa-check" style="color:red"></i>町隐·台湾民宿学院：Tiny Inn Academy of Taiwan
                            <br />
                            <i class="fa fa-check" style="color:red"></i>町隐·巴蜀民宿学院：Tiny Inn Academy of Sichuan
                            <br />
                            <i class="fa fa-check" style="color:#F4D03F"></i>町隐·湘楚民宿学院：Tiny Inn Academy of Hunan
                            <br />
                            <i class="fa fa-check" style="color:#F4D03F"></i>町隐·北方民宿学院：Tiny Inn Academy of North China
                            <br />
                            <i class="fa fa-check" style="color:#F4D03F"></i>町隐·岭南民宿学院：Tiny Inn Academy of South China
                            <br />
                            <i class="fa fa-check" style="color:#F4D03F"></i>町隐·齐鲁民宿学院：Tiny Inn Academy of Shandong
                            <br />
                            <i class="fa fa-check" style="color:#F4D03F  "></i>町隐·徽州民宿学院：Tiny Inn Academy of Huizhou
                        </div>
                    </div>
                </div>
                <div id="map" class="col-md-6" style="height:520px;vertical-align:central"></div>
            </div>
            <div class="section-title text-center center">
                <h3 style="color:#F4D03F">合作办院</h3>
                <hr style="height:2px" />
            </div>
            <div class="row">
                    <div class="padding-left">
                        <p>
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 作为全国民宿行业的高地，云南在民宿建设、管理运营、民宿文化打造以及内容传播上具备优势。町隐立足云南，整合产业资源，服务全国民宿同行。也希望以分院发展的形式来传播先进的民宿经验。
                            <br />
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 合作对象：地方政府及文旅企业
                            <br />
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 为保证分院有效运作并达到预期目标，对合作对象及合作前提进行如下约定：
                            <br />
                        </p>
                        <div style="padding-left:30px">
                            <i class="fa fa-check" style="color:red"></i>分院挂牌称谓：统一形式为“町隐·××民宿学院”，例如已经成立的“町隐·广西民宿学院”、“町隐·江南民宿学院”等，挂牌制作需带町隐学院的统一识别徽标。
                            <br />
                            <i class="fa fa-check" style="color:red"></i>分院场地要求：需要合作方提供不少于60人的小型会议场所并附带投影。需有相对独立的满足不少于2个人办公的空间，并能解决基础水电管网设施（该办公空间可以附属与合作机构或合作机构的联盟民宿内）结合町隐民宿学院在云南的经验，分院将成为所在地区域民宿行业的人力培训中心及行业交流中心
                            <br />
                            <i class="fa fa-check" style="color:red"></i>分院合作要求：分院在大理总部的组织协调和合作方一起开展工作。
                            <br />
                        </div>
                        <p>
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 在业务范围内，分院以自身行业具备能量为合作导入资源，助力合作方所在区域民宿行业或单体民宿的整体提升。合作方则不遗余力在区域影响力所及范围，对分院进行传播和资源支持。
                            <br />
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 根据学院开展的内容和活动，在非盈利的培训及民宿交流活动，合作方能够予以资金的支持，以摊销活动成本。
                            <br />
                            <br />
                            <i class="fa fa-circle" style="color:#F4D03F"></i> 分院衍生的盈利业务，合作方应该与大理小即是美文化传播公司的法人主体一同介入开发。
                            <br />
                        </p>
                    </div>
            </div>
        </div>
    </div>
    <div id="services3">
        <div class="container">
            <div class="row">
                <div class="portfolio-items">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio2/江南民宿学院.jpg" title="江南民宿学院成立" rel="prettyPhoto2[]">
                                    <div class="hover-text">
                                        <h4>江南民宿学院</h4>
                                        <small>江南民宿学院成立</small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio2/江南民宿学院.jpg" class="img-responsive" alt="江南民宿学院">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>江南民宿学院</h4>
                                        <small>江南民宿学院成立</small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio2/江南民宿学院.jpg" class="img-responsive" alt="江南民宿学院">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio2/广西民宿学院.jpg" title="广西民宿学院成立" rel="prettyPhoto2[]">
                                    <div class="hover-text">
                                        <h4>广西民宿学院</h4>
                                        <small>广西民宿学院成立</small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio2/广西民宿学院.jpg" class="img-responsive" alt="广西民宿学院">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>广西民宿学院</h4>
                                        <small>广西民宿学院成立</small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio2/广西民宿学院.jpg" class="img-responsive" alt="广西民宿学院">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio2/巴蜀民宿学院.jpg" title="巴蜀民宿学院成立" rel="prettyPhoto2[]">
                                    <div class="hover-text">
                                        <h4>巴蜀民宿学院</h4>
                                        <small>巴蜀民宿学院成立</small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio2/巴蜀民宿学院.jpg" class="img-responsive" alt="巴蜀民宿学院">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>巴蜀民宿学院</h4>
                                        <small>巴蜀民宿学院成立</small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio2/巴蜀民宿学院.jpg" class="img-responsive" alt="巴蜀民宿学院">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="services2">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> <img src="~/front/img/logos.png" class="img-responsive"> </div>
            </div>
        </div>
    </div>
    <div id="works">
        <div class="container">
            <div class="section-title text-center center">
                <h2>既见行旅</h2>
                <h3>MEET Travel & Hotel</h3>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-6"> <img src="~/front/img/about.png" class="img-responsive"> </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <i class="fa fa-automobile"></i>
                        <div class="padding-left">
                            <h4>旅 行</h4>
                            <p>旅行，人和自然的对话，人与人之间共情，偶遇另一个自己！</p>
                        </div>
                        <i class="fa fa-university"></i>
                        <div class="padding-left">
                            <h4>旅 宿</h4>
                            <p>旅宿，是进入美好空间，沉浸交互式场域，觅见另一种生活！</p>
                        </div>
                        <i class="fa fa-cubes"></i>
                        <div class="padding-left">
                            <h4>产 品</h4>
                            <p>整合云南优质及个性化旅游民宿及其他旅行资源，提供旅游目的地连线产品预订、民宿+体验组合产品、民宿游学，冬夏令营等活动。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="section-title text-center center">
                <p>
                    体验民宿旅行生活方式
                </p>
            </div>
            <div class="categories">
                <ul class="cat">
                    <li>
                        <ol class="type">
                            @*<li><a href="#" data-filter="*" class="active">全部</a></li>*@
                            <li><a href="#" data-filter=".nanguo">既见·南国</a></li>
                            <li><a href="#" data-filter=".dashe">既见·达舍</a></li>
                            <li><a href="#" data-filter=".huanxi">既见·欢喜</a></li>
                            <li><a href="#" data-filter=".canghai">既见·苍海</a></li>

                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="portfolio-items">
                    <div class="col-sm-6 col-md-3 col-lg-3 nanguo">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio/01.jpg" title="既见·南国" rel="prettyPhoto[]">
                                    <div class="hover-text">
                                        <h4>既见·南国</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/01.jpg" class="img-responsive" alt="既见·南国">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>既见·南国</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/01.jpg" class="img-responsive" alt="既见·南国">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 nanguo">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio/02.jpg" title="既见·南国" rel="prettyPhoto[]">
                                    <div class="hover-text">
                                        <h4>既见·南国</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/02.jpg" class="img-responsive" alt="既见·南国">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>既见·南国</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/02.jpg" class="img-responsive" alt="既见·南国">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 dashe">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio/03.jpg" title="既见·达舍" rel="prettyPhoto[]">
                                    <div class="hover-text">
                                        <h4>既见·达舍</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/03.jpg" class="img-responsive" alt="既见·达舍">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>既见·达舍</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/03.jpg" class="img-responsive" alt="既见·达舍">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 dashe">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio/04.jpg" title="既见·达舍" rel="prettyPhoto[]">
                                    <div class="hover-text">
                                        <h4>既见·达舍</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/04.jpg" class="img-responsive" alt="既见·达舍">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>既见·达舍</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/04.jpg" class="img-responsive" alt="既见·达舍">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 huanxi">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio/05.jpg" title="既见·欢喜" rel="prettyPhoto[]">
                                    <div class="hover-text">
                                        <h4>既见·欢喜</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/05.jpg" class="img-responsive" alt="既见·欢喜">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>既见·欢喜</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/05.jpg" class="img-responsive" alt="既见·欢喜">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 huanxi">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio/06.jpg" title="既见·欢喜" rel="prettyPhoto[]">
                                    <div class="hover-text">
                                        <h4>既见·欢喜</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/06.jpg" class="img-responsive" alt="既见·欢喜">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>既见·欢喜</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/06.jpg" class="img-responsive" alt="既见·欢喜">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 canghai">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio/07.jpg" title="既见·苍海" rel="prettyPhoto[]">
                                    <div class="hover-text">
                                        <h4>既见·苍海</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/07.jpg" class="img-responsive" alt="既见·苍海">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>既见·苍海</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/07.jpg" class="img-responsive" alt="既见·苍海">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 canghai">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a class="hidden-xs" href="~/front/img/portfolio/08.jpg" title="既见·苍海" rel="prettyPhoto[]">
                                    <div class="hover-text">
                                        <h4>既见·苍海</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/08.jpg" class="img-responsive" alt="既见·苍海">
                                </a>
                                <a class="visible-xs">
                                    <div class="hover-text" style="padding-left:15px;padding-right:15px;">
                                        <h4>既见·苍海</h4>
                                        <small></small>
                                        <div class="clearfix"></div>
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <img src="~/front/img/portfolio/08.jpg" class="img-responsive" alt="既见·苍海">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div id="team" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>团队精英</h2>
                <h3>Team Elite</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
            </div>
            <div id="row">
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="~/front/img/team/01.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>刘汉捷</h3>
                            <p>町隐民宿学院执行人</p>
                            <p>北京町隐酒店管理有限公司法人</p>
                            <p>“既见”系列非标住宿主理人</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="~/front/img/team/02.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>李&nbsp;虹</h3>
                            <p>町隐民宿学院院长</p>
                            <p>大理远方的家主理人</p>
                            <p>前五百强企业高管</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="~/front/img/team/03.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>戴&nbsp;雷</h3>
                            <p>町隐民宿学院咨询项目负责人</p>
                            <p>曾任职于SMART度假产业专委会</p>
                            <p>毕业于约翰斯霍普金斯大学</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="~/front/img/team/04.jpg" alt="..." class="img-circle team-img">
                        <div class="caption">
                            <h3>谢&nbsp;雪</h3>
                            <p>[要火呀]民宿平台创始人</p>
                            <p>去哪儿酒店杂志专栏作者</p>
                            <p>町隐民宿学院讲师</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div id="testimonials" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2 style="color:white">品牌故事</h2>
                <h3 style="color:white">Brand Story</h3>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testimonial" class="owl-carousel owl-theme">
                        <div class="item">
                            <p style="color:white">
                                “町”字的变体生成，一扇窗户，一个美宿，一所学校......
                                <br />
                                町隐—归隐田町，对田园生活的向往，自然的回归及对内心隐逸自我的追寻
                                <br />
                                民宿之路，就是这么美好的一条田间小路
                                <br />
                                “町隐”是英文Tiny Inn的音译；Tiny Inn是各种“微型住宿”包括民宿、客栈、精品酒店、城市公寓等的统称。
                                <br />
                                町隐民宿学院致力于微型住宿行业的观察研究、培训教育及业内交流。
                            </p>
                            <p style="font-size:20px;color:#F4D03F">町隐 · 学院</p>
                        </div>
                        <div class="item">
                            <p style="color:white">
                                “既见君子，云胡不喜。”既见是一种内心期盼充盈后的满溢，见自己，见天地，见诗和远方。
                                <br />
                                我们不断探索小微住宿的不同模式，在品牌下探索更多不同的住宿类型，致力于做好自己的品牌民宿同时也为町隐民宿学院提供落地的教学积累。
                            </p>
                            <p style="font-size:20px;color:#F4D03F">既见 · 行旅</p>
                        </div>
                        <div class="item">
                            <p style="color:white">
                                小即是美依托町隐民宿学院说沉淀行业资源，为民宿行业提供媒体服务支持，并为乡建文旅项目提供民宿集群的咨询和行业资源导入。
                            </p>
                            <p style="font-size:20px;color:#F4D03F">小即是美 · 文化传播</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>联系我们</h2>
                <h3>Contact Us</h3>
                <hr>
                <p>学习 成就 民宿</p>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-4">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <p>
                        云南省大理市密湾小镇B6栋
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    <p>service@tinyinn.cn</p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-phone fa-2x"></i>
                    <p>0872-8810188</p>
                </div>
                <hr>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <hr>
                <h3>给我们留言</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="name" class="form-control" placeholder="姓名" required="required">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" id="email" class="form-control" placeholder="邮箱" required="required">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message" class="form-control" rows="4" placeholder="留言" required></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-default">发送</button>
                </form>
            </div>
        </div>
    </div>
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>&copy; 2019 &nbsp;北京町隐酒店管理有限公司 &nbsp;版权所有 &nbsp;<a href="https://www.beian88.com/miit/capture?{%22Name%22:%22%E5%8C%97%E4%BA%AC%E7%94%BA%E9%9A%90%E9%85%92%E5%BA%97%E7%AE%A1%E7%90%86%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%22,%22Type%22:%22%E4%BC%81%E4%B8%9A%22,%22License%22:%22%E4%BA%ACICP%E5%A4%8715053271%E5%8F%B7-1%22,%22WebName%22:%22%E5%8C%97%E4%BA%AC%E7%94%BA%E9%9A%90%E9%85%92%E5%BA%97%E7%AE%A1%E7%90%86%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%22,%22Domain%22:%22tinyinn.cn%22,%22DateTime%22:%222015-10-19%22}" target="view_window">京ICP备15053271号-1</a></p>
            </div>
            <div class="pull-right fnav">
            </div>
        </div>
    </nav>

    <script type="text/javascript" src="~/front/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/front/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/front/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="~/front/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/front/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="~/front/js/jquery.counterup.js"></script>
    <script type="text/javascript" src="~/front/js/waypoints.js"></script>
    <script type="text/javascript" src="~/front/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="~/front/js/contact_me.js"></script>
    <script src="~/front/js/owl.carousel.js"></script>
    <script src="~/lib/jvectormap/js/jvectormap.min.js"></script>
    <script src="~/lib/jvectormap/js/maps/china.js"></script><!--中国地图-->
    <script type="text/javascript" src="~/front/js/main.js"></script>
    <script>
        $(function () {
            $("a[rel^='prettyPhoto']").prettyPhoto({ social_tools: false, animation_speed: 'fast', slideshow: 5000, hideflash: true });
            $("a[rel^='prettyPhoto2']").prettyPhoto({ social_tools: false, animation_speed: 'fast', slideshow: 5000, hideflash: true });
            $("#map").vectorMap({
                map: 'cn_mill',//载入地图的名称 cn_mill为china.js地图名称
                showRegionLabel: true,
                backgroundColor: 'transparent',//地图背景颜色
                regionStyle: {
                    initial: {
                        fill: 'rgba(210, 214, 222, 1)',
                        'fill-opacity': 1,
                        stroke: 'none',
                        'stroke-width': 0,
                        'stroke-opacity': 1
                    },
                    hover: {
                        'fill-opacity': 0.7,
                        cursor: 'pointer'
                    },
                },    //区域选中颜色
                zoomMin: 1,   //表示地图可以显示的最小倍数，默认为1
                markerStyle: {
                    initial: {
                        fill: '#e80000',
                        stroke: 'rgba(0,0,0,0.4)',
                        "fill-opacity": 1,
                        "stroke-width": 1,
                        "stroke-opacity": 0.5,
                        r: 3
                    },
                    hover: {
                        stroke: 'black',
                        "stroke-width": 2,
                    },
                    selected: {
                        fill: 'blue'
                    },
                    selectedHover: {
                    }
                },//点样式
                zoomOnScroll: false,  //当设置为true时可以使用鼠标滚轮缩放地图，否则不可以。默认值为true
                markers: [
                    { latLng: [25.23, 100.13], name: '町隐·云南民宿学院', style: { r: 3, fill: 'red' } },
                    { latLng: [31.30, 120.58], name: '町隐·江南民宿学院', style: { r: 3, fill: 'red' } },
                    { latLng: [24.33, 109.4], name: '町隐·广西民宿学院', style: { r: 3, fill: 'red' } },
                    { latLng: [24, 121.5], name: '町隐·台湾民宿学院', style: { r: 3, fill: 'red' } },
                    { latLng: [30.67, 104.06], name: '町隐·巴蜀民宿学院', style: { r: 3, fill: 'red' } },
                    { latLng: [26.08, 119.3], name: '町隐·八闽民宿学院', style: { r: 3, fill: 'red' } },
                    { latLng: [39.9, 116.3], name: '町隐·北方民宿学院', style: { r: 3, fill: '#F4D03F' } },
                    { latLng: [23.2, 113.3], name: '町隐·岭南民宿学院', style: { r: 3, fill: '#F4D03F' } },
                    { latLng: [36.04, 120.19], name: '町隐·齐鲁民宿学院', style: { r: 3, fill: '#F4D03F' } },
                    { latLng: [31.83, 117.25], name: '町隐·徽州民宿学院', style: { r: 3, fill: '#F4D03F' } },
                    { latLng: [28.21, 113], name: '町隐·湘楚民宿学院', style: { r: 3, fill: '#F4D03F' } },

                ] //坐标点
            });
        });
    </script>
</body>
</html>