@model JJNG.Data.Branch.BrhMemo

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>BrhMemo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemoId" />
            <div class="form-group">
                <label asp-for="EnteringDate" class="control-label"></label>
                <input asp-for="EnteringDate" class="form-control" />
                <span asp-validation-for="EnteringDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnteringStaff" class="control-label"></label>
                <input asp-for="EnteringStaff" class="form-control" />
                <span asp-validation-for="EnteringStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <input asp-for="Branch" class="form-control" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

